<h1>予約一覧</h1>

<% @reservations&.each do |reservations| %>
<div>
<h3>予約日</h3>
<%= reservations.day %>
<h3>予約時間</h3>
<%= reservations.time %>
<h3>確認</h3>
<%= reservations.start_time%>
</div>
<% end %>

<%= link_to "ホーム", root_path %>