/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 .text-center{
    text-align: center;
 }
 
 .mt-3{
    margin: 50px;
 }
  
 .simple-calendar table {
    width: 100%;
    border-collapse: collapse;
  }

  .simple-calendar th, .simple-calendar td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  .simple-calendar .table th, .simple-calendar .table td {
    width: calc(100% / 8); /* 8列に均等分割 */
  }

  .odd-row {
    background-color: #fff; /* 白 */
  }
  
  .even-row {
    background-color: #f2f2f2; /* 灰色 */
  }
  
